* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'ProximaNova-Regular', sans-serif;
}

.header {
    background-color: $blue;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    min-width: 1074px;
    padding-left: 224px;
    padding-right: 224px;
    padding-top: 32px;
}

.header__logo-wrapper {
    width: 78px;
    height: 100px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.header__item {
    margin-right: 28px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

.header__link:active,
.header__link:focus{
    border-bottom: 3px solid $orange;
}

.header__link:hover{
    color: $orange;
}
