body {
    background-color: $back;
    color: $text;
    font-family: ProximaNova-Regular;
}

h1 {
    font-family: ProximaNova-Bold;
}

.image {
    width: 1507px;
    height: 500px;
    background-size: cover;
    background-image: url('img/cubes.jpg');
}