*, 
*::before,
*::after {
	margin: 0;
	padding: 0;
    border: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a, a:visited {
	text-decoration: none;
}

a:focus,
a:active {
	outline: none;
}

img, svg {
	max-width: 100%;
	height: auto;
}

input, textarea, button, select {
	font-family: inherit;
	font-size: inherit;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

